name: Godot Build

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-ios:
      runs-on: self-hosted
      steps:
        - uses: actions/checkout@v4
        
        - name: Export iOS
          run: |
            cd build/ios
            xcodebuild -project MorseTrainer.xcodeproj \
                       -scheme MorseTrainer \
                       -sdk iphoneos \
                       CODE_SIGN_IDENTITY="Apple Development" \
                       CODE_SIGN_STYLE=Automatic \
                       DEVELOPMENT_TEAM="${{ secrets.APPLE_TEAM_ID }}" \
                       archive -archivePath MorseTrainer.xcarchive
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      
      - name: Build macOS
        run: |
          mkdir -p build
          /Applications/Godot.app/Contents/MacOS/Godot --headless --export-release "macOS" ./build/MorseTrainer.zip
