
name: Godot Build

on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build-ios:
      runs-on: self-hosted
      steps:
        - uses: actions/checkout@v4
        - name: Export iOS
          run: |
            xcodebuild -project ./build/ios/MorseTrainer.xcodeproj \
                       -scheme MorseTrainer \
                       -sdk iphoneos \
                       -configuration Release \
                       CODE_SIGN_IDENTITY="Apple Development" \
                       CODE_SIGN_STYLE=Automatic \
                       DEVELOPMENT_TEAM="${{ secrets.APPLE_TEAM_ID }}" \
                       archive -archivePath ./build/ios/MorseTrainer.xcarchive
